<%if logged_in? %>
<p align="right"><a href="/logout">Log out</a>
<%end%>
<h2> STUDENT ID <%=@student.id%></h2><br>
<h3>Name: <%= @student.name %> </h3>
<h3>Email: <%=@student.email %></h3>
<h3>Grade: <%= @student.grade %> </h3>
<h3>Enrolled course : <%= @student.course ? @student.course.title: N/A %> <br>

<a href="/students/<%= @student.id%>/edit"> Edit </a>

<form method="post" action="/students/<%=@student.id%>">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</form>