<%if logged_in? %>
<p align="right"><%= current_user.fullname %>|<a href="/logout">Log out</a>
<%end%>
<h2>Welcome, <%= current_user.fullname %>!</h2>
<h3>List of teachers</h3>
<% @teachers.each_with_index do |c,i| %>
  <%= i+1%> -  <a href="/teachers/<%= c.id%>" ><%= c.name %></a><br>
  <% end %>
  <br>
  <a href="/teachers/new">Add Teacher</a>
