<%if logged_in? %>
<p align="right"><a href="/logout">Log out</a></p>
<%end%>
<a href="/teachers">Back</a><br>
<br><p><b>Name: </b><%= @teacher.name %> </p>
<p><b>Email: </b><%= @teacher.email %></p>
<p><b>Address: </b><%= @teacher.address %></p>
<p><b>Course:</b> <%= @teacher.course %></p>
<p><b>Student: </b><%= @teacher.student %></p>
<% if @teacher.user == current_user %>
<a href="/teachers/<%= @teacher.id%>/edit">Edit </a>

<form method="post" action="/teachers/<%=@teacher.id%>">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</form>
<% end %>